body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background 0.5s ease;
}

.button-pair {
    display: flex;
    gap: 20px;
}

button [
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    transition: background-color 0.3 ease;
]

button:hover {
    background-color: #2980b9;
}
